* {
  margin: 0;
  padding: 0;
  font-family: 'iaw-mono'!important;
}
@media screen and (max-width: 550px) {
	/* app-my-input{
	display: none;
	} */
}

mat-toolbar {
  display: flex;
	width: 100vw;
  background-color: rgb(92, 92, 92);
}

app-my-input{
	flex: 1;
  display: flex;
  justify-content: center;
}

/*
 left text
*/

.leftFlex {
  flex: 0 0 20%;
	display: flex;
	justify-content: space-between;
}

.spanMessage {
	display: inline-flex;
	justify-items: right;
	margin: 0 10px;
	float: right;
	background-image: linear-gradient(
	  90deg,
	  rgb(235, 80, 235),
	  rgb(73, 183, 247)
	);
	background-clip: text;
	color: transparent;
  }

  /* 
 	right part 
  */

.rightFlex {
  display: flex;
}

.rightA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 64px;
  font-size: 14px;
  text-decoration: none;
  background-image: linear-gradient(rgb(204, 245, 57), rgb(233, 215, 52));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0 3px;
  transition: background-size 500ms ease-in-out;
}


.rightA:hover {
  background-color: rgb(149, 197, 242);
  cursor: pointer;
  color: rgb(62, 66, 65);
  background-size: 100% 3px;
}

.rightA:focus {
	outline: none;
}

