* {
  margin: 0;
  padding: 0;
}
mat-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0;
  background-color: rgb(92, 92, 92);
}
.leftFlex {
  width: 22%;
  display: flex;
  justify-content: space-between;
}
.rightA:focus {
  outline: none;
}
.rightFlex .rightA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 64px;
  font-size: 15px;
  text-decoration: none;
  background-image: linear-gradient(rgb(204, 245, 57), rgb(233, 215, 52));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0 3px;
  transition: background-size 500ms ease-in-out;
}
.rightFlex {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.rightFlex .rightA:hover {
  background-color: rgb(149, 197, 242);
  cursor: pointer;
  color: rgb(62, 66, 65);
  background-size: 100% 3px;
}

.spanMessage {
  display: inline-flex;
  justify-items: right;
  margin: 0 10px;
  float: right;
  background-image: linear-gradient(
    90deg,
    rgb(235, 80, 235),
    rgb(73, 183, 247)
  );
  background-clip: text;
  color: transparent;
}
.headSearch {
  border: none;
  background-color: #fff;
  padding: 5px 16px;
  margin-left: 8px;
  color: rgb(31, 30, 30);
  width: 250px;
  min-width: 30%;
  max-width: 100%;
  height: 70%;
  -webkit-appearance: none;
  font-size: 13px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input {
  outline: none;
}

input::-webkit-input-placeholder {
  color: gray;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: gray;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: gray;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}
.headSearch :focus {
  border: none;
}
.search {
  width: 295px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
  padding-right: 3px;
}

button img {
  width: 20px;
  height: 33.6px;
}
.search button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.search button:hover {
  background-color: rgb(255, 253, 252);
}
.search button {
  background-color: #fff;
  border: none;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.search:hover {
  border-style: solid;
  border-color: #37393a;
  box-shadow: 0 0 10px #6b7a81;
}
