<mat-toolbar>
  <div class="leftFlex">
    <span class="spanMessage"><h5>Angular</h5></span>
  </div>
  <app-my-input>
  </app-my-input>
  <div class="rightFlex">
    <div class="rightA" routerLink="/home" routerLinkActive="active" matRipple>
      <a style="text-decoration: none">Home</a>
    </div>
    <div class="rightA" routerLink="/postCreate" routerLinkActive="active">
      <a style="text-decoration: none">Write a New Post</a>
    </div>
    <div class="rightA" routerLink="/sign" routerLinkActive="active" id="sign" *ngIf="!isloggedIn">
      <a style="text-decoration: none">Sign in</a>
    </div>
    <div class="rightA" routerLink="/signUp" routerLinkActive="active" *ngIf="!isloggedIn">
      <a style="text-decoration: none">Sign up</a>
    </div>
    <div class="rightA" *ngIf="isloggedIn" (click)="logout()">
      <a style="text-decoration: none">Log out</a>
    </div>
  </div>
</mat-toolbar>
