:host {
  margin: 10px;
}

.info-text {
  text-align: center;
}
mat-expansion-panel {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}
#list {
  overflow: hidden;
  height: 100px;
  cursor: pointer;
}
.ng-tns-c79-2 {
  overflow: hidden;
}
