:host {
  margin: 10px;
}
mat-expansion-panel-header{
  background-color: #8c8c8d;
}
mat-expansion-panel{
  background-color: #949494;
}
.info-text {
  text-align: center;
}
mat-expansion-panel {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}
#list {
  overflow: hidden;
  height: 100px;
  cursor: pointer;
}
#list:focus {
  outline: none;
}
#list:hover {
  color: #c9cbce;
}
.ng-tns-c79-2 {
  overflow: hidden;
}
