<div class="postBox" >
  <div class="left">
      <img src="https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/560adcab38ca4940b163955567f7747b~tplv-k3u1fbpfcp-zoom-1.image">
  </div>
  <div class="right" >
    <div id="title">我是一个小标题</div>
    <div class="smallContent">
     Angular 是一个应用设计框架与开发平台，用于创建高效、复杂、精致的单页面应用。这份 Angular 文档会帮助你学习和使用 Angular 框架与开发平台，从你的第一个应用开始，一直到优化复杂的企业级单页面应用。 这些教程和指南中都包含可下载的范例，以加速你的学习。
    Angular 是一个应用设计框架与开发平台，用于创建高效、复杂、精致的单页面应用。这份 Angular 文档会帮助你学习和使用 Angular 框架与开发平台，从你的第一个应用开始，一直到优化复杂的企业级单页面应用。 这些教程和指南中都包含可下载的范例，以加速你的学习。 </div>
    <div class="forumInfo">
      <div class="forum-time">
        <span>2020-10-1</span>
      </div>
      <div class="forumInfoRight">
        <div class="like">
          <img src="../assets/img/like.png" >
          0
        </div>
        <div class="cai">
          <img src="../assets/img/cai.png" >
          0
        </div>
      </div>
    </div>
  </div>
</div>
