<!-- <p>{{ content }}</p> -->
<div class="content">
  <div class="example-form" *ngIf="!isShow">
    <div class="title-padding">
      Title:
      <input class="title" placeholder="Title"  [(ngModel)]="title" required >
    </div>
    <textarea
      class="textarea"
      (ngModelChange)="onchange()"
      [(ngModel)]="content" >
    </textarea>
    <textarea
      class="text-not" [(ngModel)]="content"></textarea>
   <div id="submit" routerLink="/home" (click)="postChanged()">提交</div>
  </div>
  <div class="preview" *ngIf="isShow">
    <h2>{{title}}</h2>
    <app-markdown-preview  [data] = "data"></app-markdown-preview>
  </div>
  <div (click)="translateData()" class="show-preview" #button>
    {{showButton}}
  </div>
</div>
