<div class="signComponent">
  <form
    class="example-form"
    (submit)="Register($event, userForm)"
    #userForm="ngForm"
  >
    <mat-form-field class="example-full-width">
      <label for="username"></label><input type="text" matInput placeholder="UserName" id="username" name="username" ngModel #username = "ngModel" required />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <label for="password"></label><input type="password" matInput placeholder="Password" id="password" name="password" ngModel #password = "ngModel" required />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label>
        <input type="password" matInput placeholder="AgainPassword" required name="AgainPassword" ngModel #AgainPassword = "ngModel"/>
      </label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="phoneNumber"></label><input
        type="number"
        matInput
        placeholder="PhoneNumber"
        id="phoneNumber"
        required name="PhoneNumber" ngModel #PhoneNumber = "ngModel"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="email"></label><input
      type="email"
      matInput
      placeholder="Your Email"
      id="email"
      required
      name="email"
      ngModel
      #email = "ngModel"/>
    </mat-form-field>
    <div id="button">
      <button mat-button color="primary" type="submit" style="width: 200px;height: 40px;border-radius: 20px;background-color: lightgray">
        <span style="color: black;"> Sign up</span>
      </button>
    </div>
  </form>
</div>
