<div class="signComponent">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="UserName" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="AgainPassword" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="number" matInput placeholder="PhoneNumber" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="email" matInput placeholder="Your Email" />
    </mat-form-field>
    <div id="button">
      <button mat-button color="accent" type="submit">
        Sign Up
      </button>
    </div>
  </form>
</div>
