<div class="signComponent">
  <form
    class="example-form"
    (submit)="LoginUser($event,userForm)"
    #userForm="ngForm"
  >
    <mat-form-field class="example-full-width">
      <label for="username"></label><input type="text" matInput placeholder="UserName" id="username" name="username" ngModel #username = ngModel required />
    </mat-form-field>
    <mat-form-field  class="example-full-width">
      <label for="password"></label><input type="password" matInput placeholder="Password" id="password" name="password" ngModel #password = ngModel required />
    </mat-form-field>
    <div id="button">
      <button mat-button color="primary" type="submit"  style="width: 200px;height: 40px;border-radius: 20px;background-color: lightgray">
        <span style="color: black;"> Sign in</span>
      </button>
    </div>
  </form>
</div>
