.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  padding-left: 50px;
  padding-right: 50px;
}

.example-full-width {
  width: 100%;
}
.example-full-width textarea {
  height: 100px;
  resize: none;
}
button {
  margin-top: 10px;
}
#button {
  display: flex;
  justify-content: center;
}
input {
  margin-top: 10px;
  -webkit-appearance: none !important;
}
.signComponent {
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  height: 200px;
  border: 1px solid black;
  margin-top: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
