<div class="leftBar">
  <div class="content">
    <mat-chip-list>
      <mat-chip>Java</mat-chip>
      <mat-chip>C/C++</mat-chip>
      <mat-chip>JavaScript</mat-chip>
      <mat-chip>Rust</mat-chip>
      <mat-chip>Webpack</mat-chip>
      <mat-chip>TypeScript</mat-chip>
      <mat-chip>微信小程序</mat-chip>
      <mat-chip>Python</mat-chip>
      <mat-chip>Nodejs</mat-chip>
      <mat-chip>SSR</mat-chip>
      <mat-chip>Vue</mat-chip>
      <mat-chip>Angular</mat-chip>
      <mat-chip>...</mat-chip>
    </mat-chip-list>
  </div>
</div>
